
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <br>
                                    <button  routerLink="/reporte-ciudad" type="submit" class="boton-rojo">Reportes por Ciudad</button>                                                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                  
                </div>
            </div>
        </div>
    </div>
</div>

